* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $default_fontfamily;
  font-size: $default_fontsize;
}

.wrapper {
  margin: 0 auto;
  max-width: $wrapper_maxwidth;
  padding: $wrapper_padding;
}
