$purple: #551A8B;
$white: #FFFFFF;
$grey: #F2F2F2;
$grey-alt: #DDDDDD;

$default_fontsize: 1.6rem;
$default_fontfamily: Helvetica, Arial, sans-serif;

$button_default_fontsize: 1.2rem;
$button_large_fontsize: 1.5rem;
$button_larger_fontsize: 1.8rem;

$privateheader_title_fontsize: 1.9rem;
$privateheader_logout_fontsize: 1.5rem;

$linklist_default_fontsize: 1.6rem;
$linklist_url_fontsize: 1.7rem;

$wrapper_padding: 1.3rem;
$wrapper_maxwidth: 50rem;
